
body{
    background-color: #23aed1;
}
.container{
    border: 1px solid black;
    max-width: 400px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}
.weight{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
}
.weight input{
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 1rem;
}
.height{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
}
.height input{
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 1rem;
}
.btn{
   display: flex;
   gap:0 3rem;
   margin: 1rem;
}
.submit{
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 1rem;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    background-color: rgb(8, 61, 160);
}
.reload{
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 1rem;
    color: black;
    font-weight: bold;
    font-size: 1rem;
}
.output{
    font-size: 1.3rem;
    font-weight: bold;
}
.head{
    font-size: 1.2rem;
    font-weight: bold;
}